* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:focus, :active {
    outline: none;
}
a:focus, a:active {
    outline: none;
}
nav, footer, header, aside {
    display: block;
}
html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #fff;
    color: #353535;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input, button, textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper-form {
}
._container-max {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}
._container-min {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    box-shadow: 0 0 5px 1px rgba(221, 221, 221, 1);
}
.header-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.header-label {
}
.header-label a {
    font-weight: 800;
    font-size: 35px;
    color: #353535;
}
.header-register {
    font-weight: 600;
    font-size: 30px;

}
.section-register {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-register h1 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}
.section-register_form {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-shadow: 0 0 5px 1px rgba(221, 221, 221, 1);
}
.section-register_form-info {
    flex: 60%;
}
form h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 60px 0;
}
form p {
    margin-bottom: 15px;
    font-size: 18px;
    max-width: 80%;
    /* font-weight: 400; */
}
form p a {
    text-decoration: underline;
    color: #353535;
}
form p a:hover {
    color: #edb112;
}
.text-info {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: -15px;
}
input {
    border: 1px solid #edb112;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 25px;
    width: 80%;
}
.input-gray {
    background-color: #f5f5f5;
    border: none;
}
.input-info {
    position: relative;
}
.input-info::after {
    position: absolute;
    content: "i";
    right: -30px;
    /* top: 0; */
    width: 20px;
    height: 20px;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #edb112;
    color: #edb112;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

/* ---------------- */
.form_radio {
	/* margin-bottom: 10px; */
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	/* background: url(/img/radio-1.png) 0 0 no-repeat; */
    border: 1px solid #cbcac9;
}
 
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background-color: #000;
}
 
/* Hover */
.form_radio label:hover:before {
    border: 1px solid #edb112;
}
 
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.form-row {
    display: flex;
}
.section-register_form-img {
    padding-right: 30px;
    flex: 40%;
}

::-webkit-input-placeholder {color:#cbcac9;}
::-moz-placeholder          {color:#cbcac9;}/* Firefox 19+ */
:-moz-placeholder           {color:#cbcac9;}/* Firefox 18- */
:-ms-input-placeholder      {color:#cbcac9;}
/* плавное изменение прозрачности  placeholder-а при фокусе */
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/* ----------------------------select----------------------------------- */
.select {
    position: relative;
    margin-bottom: 25px;
}
.new-select {
    position: relative;
    width: 80%;
    color: #ccc;
    padding: 0 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #edb112;
    border-radius: 3px;
}
.new-select__list {
    color: #353535;
    display: none;
    position: absolute;
    top: 29px;
    width: 80%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    font-size: 14px;
    padding: 10px 0 5px;
    border: 1px solid #edb112;
    border-radius: 3px;
    z-index: 5;
}
.new-select__list.on {
    display: block;
}
.new-select__item {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}
.new-select__item span {
    margin: 10px 15px;
    height: 1px;
    overflow: hidden;
    color: #ccc;
}
.new-select__item:hover span {
    color: #edb112;
}
.new-select:after {
    transition: all .27s ease-in-out;
    transform: rotate(0deg);
    content: "";
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 11px;
    height: 7px;
    margin-left: 10px;
    background: url("../img/arrow_g.png") center / 100% no-repeat;
}
.new-select.on:after {
    transform: rotate(180deg);
}
.select-data {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.select-data .select {
    flex: 1 1;
}
.button-send {
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edb112;
    border-radius: 3px;
    height: 40px;
    padding: 0 15px;
    font-size: 20px;
}